@font-face {
  font-family: "cuprum";
  src: url(../fonts/cuprum.woff2);
  src: url(../fonts/cuprum.woff);
}

@font-face {
  font-family: "cuprumbold";
  src: url(../fonts/cuprumbold.woff2);
  src: url(../fonts/cuprumbold.woff);
}

@font-face {
  font-family: "cuprumbolditalic";
  src: url(../fonts/cuprumbolditalic.woff2);
  src: url(../fonts/cuprumbolditalic.woff);
}

@font-face {
  font-family: "cuprumitalic";
  src: url(../fonts/cuprumitalic.woff2);
  src: url(../fonts/cuprumitalic.woff);
}

@font-face {
  font-family: "ptsans";
  src: url(../fonts/ptsans.woff2);
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: "ptsansbold";
  src: url(../fonts/ptsansbold.woff2);
  src: url(../fonts/ptsansbold.woff);
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.breadcrumbs,
.list-site-navigation,
.list-popular-produceres,
.list-services,
.footer-nav,
.list-footer-social,
.list-filter-produceres,
.list-filter-power,
.list-name-sort,
.services-list,
.list-catalog,
.list-catalog-popular,
.list-pagination,
.footer-social,
.list-delivery-company {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
article,
.header-services,
.header-services-item,
.services-item-definition,
.services-declaration,
.account p,
.transparent-button,
.product-and-services p,
.about-catalog-group h3,
.price-controls p,
.account a,
.search input,
.catalog-item-name,
.price-old,
.price-new,
.header-services-item,
.header-adress,
.header-short-description,
.header-popular-items h2,
.list-popular-produceres a,
.list-popular-produceres img,
.header-about,
.about p,
.about a,
.footer a,
.footer img,
.footer p,
.header-button p,
.name-filter h2,
.name-group h2,
.name-sort h2,
.filter form,
.filter fieldset,
.buy,
.bookmark-item,
.popup-feedback label,
.footer-name-company,
.header-phone-wrapper p,
.popup-content p {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  width: 220px;
  height: 42px;
  box-shadow: 0 5px #b52933;
}

.header-top,
.search input {
  background-color: #293449;
}

.header-top,
.search input,
.search input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
}

.header-top input:focus {
  background-color: #ffffff;
  outline: none;
}

.header-top form {
  position: relative;
  padding: 0;
  flex-grow: 1;
}

.search input {
  font-family: "Cuprum", "Arial", sans-serif;
  padding-left: 49px;
  border: none;
  margin: 0;
  color: #000;
  width: 100%;
}

.search-label-svg {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
}

.search:hover path {
  fill: #fff;
}

.search-input:focus+svg path {
  fill: #ee3643;
}

.header-top .container {
  display: flex;
  align-items: stretch;
}

.search input {
  padding-top: 12px;
  padding-bottom: 13px;
}

.bookmarks,
.cart,
.button-order {
  display: flex;
  color: #fff;
  width: 150px;
  align-items: center;
}

.cart-product-added,
.bookmark-added {
  background-color: #ee3643;
}

.cart-icon {
  margin-left: 17px;
  margin-right: 13px;
  margin-bottom: 4px;
}

.bookmark-icon {
  margin-left: 17px;
  margin-right: 14px;
  margin-bottom: 1px;
}

.cart:active,
.bookmarks:active {
  opacity: 0.5;
  background-color: #161d29;
}

.cart:hover path,
.cart:hover circle,
.bookmarks:hover path {
  opacity: 1;
}

.cart-icon path,
.cart-icon circle,
.bookmark-icon path {
  opacity: 0.4;
}

.cart-product-added:active,
.bookmark-added:active {
  background-color: #ab2a33;
}

.button-order {
  background-color: #63a63e;
  justify-content: center;
}

.header-phone-wrapper {
  display: flex;
  width: 264px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ee3643;
  border: 3px solid #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 13px 10px;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.account,
.header-button {
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom: 11px;
  text-decoration: none;
  border: none;
  background-color: #fff;
  outline: none;
  color: inherit;
}

.enter,
.user {
  display: flex;
}

.enter {
  width: 123px;
  margin-right: 10px;
}

.registration {
  width: 150px;
}

.header-button-svg {
  margin-left: 15px;
  margin-right: 14px;
}

.logout-icon:hover path,
.header-button:hover path {
  fill: #32425c;
}

.header-button:hover {
  color: #ee3643;
}

.header-middle-wrapper {
  display: flex;
  align-items: flex-start;
  padding-top: 46px;
  padding-bottom: 44px;
}

.header-phone-adress {
  margin-right: auto;
}

.header-phone-wrapper p {
  width: 100%;
  text-align: center;
}

.account {
  display: flex;
  justify-content: space-between;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 9px;
}

.user-icon {
  margin-right: 12px;
  margin-left: 14px;
}

.logout-icon {
  margin-right: 10px;
}

.user p {
  margin-right: auto;
  width: 200px;
  word-break: break-all;
}

.user:hover {
  color: inherit;
}

.header-button:active {
  color: #cacaca;
}

.logout-icon:active path,
.header-button:active path,
.user:active path {
  fill: #cacaca;
}

.account-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 214px;
  margin-left: 18px;
}

.account-links a {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.link-order {
  position: relative;
}

.point {
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.account-links a:hover {
  color: #ee3643;
}

.account-links a:active {
  color: rgba(50, 66, 92, 0.302);
}

.header-middle {
  background: #f4f7f9;
}

.header-middle .container {
  padding-bottom: 60px;
}

.header-short-description {
  width: 204px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
  margin-left: 53px;
  margin-right: 70px;
  padding-top: 6px;
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.main-navigation li:hover {
  background-color: #293449;
}

.main-navigation li:active {
  background-color: #1d2739;
}

.list-site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 5px solid #293449;
}

.list-site-navigation a {
  display: block;
  justify-content: space-between;
  flex-grow: 1;
  padding: 19px 30px;
  vertical-align: middle;
}

.list-site-navigation li:first-of-type {
  padding-left: 22px;
}

.materials,
.tools,
.techique,
.discounts,
.delivery {
  position: relative;
  width: 300px;
  min-height: 123px;
  padding: 23px;
  padding-top: 19px;
  padding-bottom: 20px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.right-column {
  flex-direction: column;
}

.materials,
.tools {
  margin-right: 20px;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
}

.top-row {
  margin-bottom: 20px;
}

div.top-row:last-child {
  margin-right: 0;
}

.product-and-services {
  min-height: 409px;
  margin-bottom: 46px;
  margin-top: 59px;
}

.transparent-button {
  display: block;
  width: 135px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  padding: 11px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1));
}

.product-and-services a:hover {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2));
}

.product-and-services a:active {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4));
}

.product-and-services p {
  margin-bottom: 14px;
}

/* slider */

.slider {
  position: relative;
  background-color: #eeeeee;
  width: 620px;
  box-sizing: border-box;
  min-height: 266px;
}

.slider-headline,
.slider-description {
  margin: 0;
  padding: 0;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 2px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.slider-item p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 124px;
  color: #fff;
}

.slider .red-button {
  width: 195px;
}



.button-slider-left,
.button-slider-right {
  position: absolute;
  background-color: transparent;
  top: 50%;
  border: none;
  cursor: pointer;
  margin-top: -20px;
}

.button-slider-left {
  left: 23px;
}

.button-slider-right {
  right: 23px;
}

.slider-controls {
  position: absolute;
  left: 51%;
  bottom: 33px;
  z-index: 100;
  width: 40px;
  height: 12px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 20px 24px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.jpg");
  background-repeat: no-repeat;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: -5px;
  background-color: #ee3643;
  border-radius: 50%;
}


/* end of slider  */

.materials {
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-position: 213px 30px;
  background-repeat: no-repeat;
}

.tools {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-position: 197px 33px;
  background-repeat: no-repeat;
}

.techique {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-position: 190px 30px;
  background-repeat: no-repeat;
}

.discounts {
  background-color: #8ed78f;
  margin-bottom: 20px;
  background-image: url(../img/icon-4.svg);
  background-position: 194px 24px;
  background-repeat: no-repeat;
}

.delivery {
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-position: 191px 25px;
  background-repeat: no-repeat;
}

.header-popular-items {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 24px;
  padding-bottom: 26px;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.breadcrumbs {
  display: flex;
  padding: 22px 0;
}

.breadcrumbs a {
  display: block;
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  margin-right: 40px;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 4px;
  right: -22px;
  background-color: transparent;
  border-right: 2px solid #c1c6ce;
  border-bottom: 2px solid #c1c6ce;
  transform: rotate(-45deg);
}

.last-breadcrumbs::after {
  display: none;
}

.catalog {
  width: 700px;
  margin-left: 20px;
  margin-bottom: 60px;
}

.list-catalog,
.list-catalog-popular {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 218px;
  min-height: 293px;
  border: 1px solid #eaeaea;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  margin-bottom: 21px;
  margin-right: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.list-catalog-popular li:nth-child(4n),
.list-catalog li:nth-child(3n),
.list-popular-produceres li:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.catalog-img {
  display: flex;
  width: 100%;
  height: 164px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}

.catalog-item-name {
  min-height: 40px;
  font-size: 18px;
  line-height: 20px;
  padding: 0 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-old,
.price-new {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}

.price-old {
  min-height: 18px;
  text-decoration: line-through;
  color: #aaa;
}

.price-new {
  position: relative;
  min-height: 18px;
  width: 100px;
  margin: 10px auto 0;
  padding: 10px 12px;
  color: #fff;
  background: #ee3643;
  border-radius: 3px 3px 6px 3px;
}

.price-new:after {
  content: "";
  position: absolute;
  top: 0;
  right: -35px;
  width: 0;
  height: 0;
  border: 19px solid #fff;
  border-left-color: #ee3643;
}

 .flag-new {
  position: absolute;
  top:-1px;
  right: 0;
  overflow: hidden;
  z-index: 2000;
  background: url("../img/new-flag.png") no-repeat 0 0;
  width: 60px;
  height: 60px;
  font-size: 0;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
}

.buy,
.bookmark-item {
  display: block;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 8px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.bookmark-item {
  color: #32425c;
  background: #fff;
  border-bottom-color: #63a63e;
}

.buy:hover {
  background-color: #66cc33;
  border: 3px solid #66cc33;
  border-bottom-color: #367315;
}

.buy:active {
  background-color: #669933;
  border: 3px solid #669933;
  border-bottom-color: #669933;
}

.bookmark-item:hover {
  border: 3px solid #333366;
  color: #333366;
}

.bookmark-item:active {
  border: 3px solid #cccccc;
  color: #cccccc;
}

.services {
  padding-top: 62px;
  background-color: #f5f8fa;
  min-height: 520px;

}

.services p,
.description-catalog-group {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.header-services,
.header-about,
.header-popular-items h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}

.header-services {
  color: inherit;
  margin-bottom: 32px;
}

.list-popular-produceres li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-services-item {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}

.list-services li {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  width: 200px;
  padding: 10px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #4d627b;
  background-color: #32425c;
}

.list-services li:first-child {
  color: #32425c;
  background-color: #fff;
}

.about {
  background-color: #fff;
  min-height: 536px;
}

.header-about {
  margin-bottom: 30px;
}

.about p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.about-left {
  width: 555px
}

.about-right {
  width: 300px;
}

.about-right .red-button {
  width: 100%;
}

.about .red-button {
  margin-top: 40px;
  padding: 12px 0;
}

.about-left p:nth-of-type(1),
.about-right p {
  margin-bottom: 37px;
}

.about-left p:nth-of-type(2) {
  margin-bottom: 25px;
}

.about-right p {
  width: 180px;
}

.about .container {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
  padding-bottom: 86px;
}

.about-left,
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.delivery-company li {
  font-size: 18px;
  line-height: 20px;
}

.list-delivery-company li {
  position: relative;
  padding-left: 36px;
}

.list-delivery-company li:before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 12px;
  left: 0;
  background-color: #ee3643;
}

.footer-top {
  background-color: #32425c;
}

.footer-top,
.footer-top a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f8;
}

.low-row a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #f5f5f6;
  background-color: #293449;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 131px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.high-row a:active {
  color: rgba(241, 245, 247, 0.5);
}

.low-row a:active {
  color: rgba(255, 209, 128, 0.5);
}

.high-row a:hover,
.low-row a:hover {
  text-decoration: underline;
}

.developer-info-contact a {
  color: #ffd180;
}

.developer-info-contact a:active {
  color: #ee3643;
}

.developer-info-contact a:hover {
  text-decoration: underline;
}

.red-button,
.white-button {
  display: block;
  width: 233px;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #ee3643;
  border-radius: 3px;
}

.slider .red-button:hover,
.red-button:hover {
  background-color: #ca2c37;
}

.slider .red-button:active,
.red-button:active {
  background-color: #ba2732;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  background-color: #518534;
}

.container-filter-catalog {
  display: flex;
  justify-content: flex-start;
}

.arrow-wrapper,
.name-sort,
.list-name-sort,
.list-pagination {
  display: flex;
}

.name-sort {
  justify-content: flex-start;
  align-items: center;
}

.name-sort .header-sort {
  margin-right: 140px;
}

.arrow-wrapper {
  width: 44px;
  justify-content: space-between;
}

.arrow-down,
.arrow-up {
  font-size: 0;
  display: inline-block;
  border: 10px solid #cacaca;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
  content: "";
}

.arrow-up {
  border-top-width: 0;
}

.arrow-down {
  border-bottom-width: 0;
}

.list-name-sort {
  justify-content: space-between;
  width: 356px;
  margin-right: 45px;
}

.list-name-sort a {
  color: #cacaca;
  text-decoration: underline;
  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
}

.list-name-sort .active {
  color: #ee3643;
  text-decoration: none;
}

.name-group h2 {
  text-align: left;
  background-color: #f2f6f8;
  margin-bottom: 20px;
}

.name-group h2,
.about-catalog-group h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.name-group h2 {
  padding: 30px 30px;
  color: #32425c;
}

.filter,
.filter legend,
.name-sort,
.list-pagination,
.filter h2,
.name-sort h2,
.list-name-sort {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000;
  text-align: left;
  font-weight: normal;
}

.name-filter,
.name-sort,
.list-pagination {
  background-color: #f7f3ec;
}

.filter h2,
.name-sort h2,
.list-name-sort {
  font-size: 13px;
  line-height: 18px;
}

.name-filter,
.name-sort {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 19px;
  margin-bottom: 20px;
}

.filter {
  width: 220px;
}

.filter form,
.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-controls input {
  width: 95px;
  box-sizing: border-box;
  padding: 10px 10px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  background: #f7f3ec;
  border-radius: 2px;
  margin-bottom: 25px;
}

.filter fieldset:nth-of-type(1) {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 21px;
}

.filter fieldset:nth-of-type(2) {
  margin-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:nth-of-type(3) {
  margin-bottom: 78px;
}

.filter-option {
  margin-bottom: 24px;
}

.list-filter-power label,
.list-filter-produceres label {
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox {
  display: none;
}

.filter-input-checkbox+label::before,
.filter-input-checkbox:checked+label::before,
.filter-input-radio+label::before,
.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox+label::before {
  width: 24px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked+label::before {
  width: 26px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled+label {
  opacity: 0.5;
}

.filter-input-radio {
  display: none;
}

.filter-input-radio+label::before {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  width: 9px;
  height: 9px;
  top: 5.5px;
  left: 7.5px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: transparent;
}

.feedback-item input,
.feedback-item textarea {
  border: 2px solid #dee3e4;
}

.list-popular-produceres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.list-popular-produceres li {
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.list-popular-produceres a {
  display: flex;
  width: 216px;
  height: 145px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.services-description {
  display: flex;
}

.services-declaration {
  width: 400px;
  margin-bottom: 73px;
}

.services-list {
  margin-right: 80px;
  margin-bottom: 102px;
}

.services-list-item {
  width: 240px;
  box-sizing: border-box;
  padding: 22px;
  padding-top: 18px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  background-color: #32425c;
  text-align: left;
  border-top: 1px solid #4d637b;
}

.services-item-definition {
  flex-shrink: 0;
  width: 275px;
  padding-right: 25px;
}

.about-catalog-group .container {
  padding-top: 63px;
  padding-bottom: 73px;
}

.about-catalog-group {
  background-color: #f2f6f8;
}

.about-catalog-group h3 {
  margin-bottom: 30px;
}

.footer-top-high,
.footer-top-low,
.high-row,
.low-row,
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding-top: 30px;
}

.footer-top-high {
  margin-bottom: 30px;
}

.footer-top-low {
  padding-bottom: 49px;
}

.low-row {
  width: 524px;
  padding-top: 0;
  align-items: flex-start;
}

.footer-bottom .container {
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-adress {
  width: 332px;
}

.list-pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  text-align: center;
  background-color: transparent;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a,
.next-pagination-item a {
  display: block;
  min-width: 36px;
  padding: 9px 0;
  border: 1px solid #cccccc;
  border-radius: 2px;
  color: inherit;
}

.next-pagination-item {
  width: 138px;
}

.next-pagination-item a:hover,
.pagination-item a:hover {
  border-color: #bdc6ca;
}

.next-pagination-item a:active,
.pagination-item a:active {
  border-color: #ee3643;
  outline: none;
}

.next-pagination-item a:focus,
.pagination-item a:focus {
  outline: none;
}

.pagination-item-current a,
.pagination-item-current a:hover {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.services-item {
  width: 100%;
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.list-delivery-company {
  font-size: 18px;
  line-height: 31px;
}

.spacer {
  flex-grow: 10;
}

.popup-map {
  display: none;
  position: fixed;
  width: 940px;
  height: 446px;
  top: 120px;
  left: 50%;
  margin-left: -470px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.popup-close {
  position: absolute;
  width: 27px;
  height: 27px;
  font-size: 0;
  top: 12px;
  right: 42px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 10;
}

.popup-close:focus {
  outline: none;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  top: 11px;
  right: 0;
  background-color: #ff3333;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

.popup-feedback {
  display: none;
  position: fixed;
  width: 620px;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  top: 120px;
  left: 50%;
  margin-left: -310px;
  border-top: 7px solid #ff6666;
}

.popup-feedback input,
.popup-feedback label {
  margin: 0;
}

.popup-feedback label {
  padding-bottom: 9px;
}

.feedback-input {
  width: 220px;
}

.feedback-send,
.popup-buttons-wrapper {
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.feedback-send .red-button,
.feedback-textarea,
.name-email-wrapper {
  margin: 0 auto;
}

.name-email-wrapper,
.feedback-textarea,
.feedback-send .red-button {
  width: 460px;
}

.name-email-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 19px;
}

.feedback-input input,
.feedback-textarea textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 11px 16px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  resize: vertical;
}

.feedback-textarea {
  margin-bottom: 37px;
}

.popup-feedback label {
  display: block;
}

/*
button:focus,
input:focus,
textarea:focus {
  outline: 2px solid #ff6666;
} */
.popup-item-added {
  display: none;
  position: fixed;
  width: 620px;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  top: 120px;
  left: 50%;
  margin-left: -310px;
  border-top: 7px solid #ff6666;
}

.popup-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 460px;
  padding-left: 80px;
  padding-right: 80px;
}

.popup-buttons-wrapper a {
  width: 200px;
}

.popup-buttons-wrapper button {
  width: 220px;
  color: #000;
  background-color: #fff;
}

.white-button:hover {
  color: #fff;
  background-color: #ee3643;
}

.popup-content {
  width: 460px;
  font-size: 30px;
  line-height: 30px;
  margin: 47px auto;
  background-image: url("../img/icon-mark.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.popup-content p {
  padding-top: 16px;
  padding-bottom: 23px;
  padding-left: 98px;
  padding-right: 20px;
}

.popup-map,
.popup-feedback,
.popup-item-added {
  z-index: 200;
}

.popup-feedback-show {
  display: block;
  animation: bounce 0.6s;
}

.popup-feedback-error {
  animation: shake 0.6s;
}

.popup-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.popup-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.popup-map-show {
  display: block;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
