body {
  font-family: 'Cuprum', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.breadcrumbs,
.list-site-navigation,
.list-popular-produceres,
.list-services,
.footer-nav,
.list-footer-social,
.list-filter-produceres,
.list-filter-power,
.list-name-sort,
.services-list,
.list-catalog,
.list-pagination,
.footer-social,
.list-delivery-company {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item-name,
.price-old,
.price-new,
.header-services-item,
.header-adress,
.header-short-description,
.header-popular-items h2,
.list-popular-produceres a,
.list-popular-produceres img,
.header-about,
.about p,
.about a,
.footer a,
.footer img,
.footer p,
.header-button p,
.name-filter h2,
.name-sort h2,
.filter form,
.filter fieldset,
.buy,
.bookmark-item {
  margin: 0;
  padding: 0;
}

.header-top {
  background-color: #293449;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
  margin: 0px;
}

.header-top a {
  color: #fff;
}

.search input {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .container {
  display: flex;
  align-items: stretch;
}

.search {
  margin-right: auto;
}

.bookmarks,
.cart,
.button-order,
.search {
  padding: 10px;
}

.logo {
  width: 220px;
  height: 42px;
}

.header-middle-wrapper {
  display: flex;
  padding-top: 46px;
  padding-bottom: 44px;
}

.header-phone-adress {
  margin-left: 20px;
}

.header-phone-wrapper p {
  margin: 0px;
}

.header-buttons {
  margin-left: auto;
}

.account-links a {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.account-links a:hover {
  color: #ee3643;
}

.account-links a:active {
  color: rgba(50, 66, 92, 0.302);
}

.header-middle {
  background: #f4f7f9;
}

.header-short-description {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
  width: 197px;
  padding-left: 53px;
  padding-right: 50px;
}

.header-phone-wrapper {
  display: flex;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;
  border: 3px solid #fff;
  padding: 8px;
}

.button-order {
  background-color: #63a63e;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.header-button {
  font-size: 21px;
  line-height: 21px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #fff;
  outline: none;
}

.header-button:hover {
  color: #ee3643;
}

.header-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.main-navigation li:hover {
  background-color: #293449;
}

.main-navigation li:active {
  background-color: #1d2739;
}

.list-site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 5px solid #293449;
  margin-bottom: 60px;
}

.list-site-navigation a {
  display: block;
  justify-content: space-between;
  flex-grow: 1;
  padding: 19px 30px;
  vertical-align: middle;
}

.list-site-navigation li:first-of-type {
  padding-left: 22px;
}

.header-popular-items {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 24px;
  padding-bottom: 26px;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.breadcrumbs {
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
}

.product-and-services {
  min-height: 468px;
  background-color: #ffcc33;
  margin-bottom: 46px;
}

.catalog {
  margin-bottom: 60px;
}

.list-catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 216px;
  min-height: 293px;
  border: 1px solid #eaeaea;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  margin-bottom: 21px;
  margin-right: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.catalog-item:nth-child(4n),
.list-popular-produceres li:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.catalog-img {
  position: relative;
  width: 184px;
  height: 164px;
  margin-top: 5px;
}

.catalog-item-name {
  min-height: 40px;
  font-size: 18px;
  line-height: 20px;
  padding: 0 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-old,
.price-new {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 auto;
}

.price-old {
  min-height: 18px;
  text-decoration: line-through;
  color: #aaa;
}

.price-new {
  position: relative;
  min-height: 18px;
  width: 100px;
  margin: 10px auto 0;
  padding: 10px 12px;
  color: white;
  background: #ee3643;
  border-radius: 3px 3px 6px 3px;
}

.price-new:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -35px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 2000;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
}

.buy,
.bookmark-item {
  display: block;
  width: 130px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 8px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.bookmark-item {
  color: #32425c;
  background: #fff;
  border-bottom-color: #63a63e;
}

.buy:hover {
  background-color: #66cc33;
  border: 3px solid #66cc33;
  border-bottom-color: #367315;
}

.buy:active {
  background-color: #669933;
  border: 3px solid #669933;
  border-bottom-color: #669933;
}

.bookmark-item:hover {
  border: 3px solid #333366;
  color: #333366;
}

.bookmark-item:active {
  border: 3px solid #cccccc;
  color: #cccccc;
}

.services {
  padding-top: 62px;
  background-color: #f5f8fa;
}

.services p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.header-services,
.header-about,
.header-popular-items {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.list-popular-produceres li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-services-item {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}

.list-services li {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  width: 200px;
  padding: 10px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #4d627b;
  background-color: #32425c;
}

.list-services li:first-child {
  color: #32425c;
  background-color: #fff;
}

.about {
  background-color: #fff;
}

.header-about {
  margin-bottom: 30px;
}

.about p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.about-left {
  width: 555px
}

.about-right {
  width: 300px;
}

.about-right .red-button {
  width: 100%;
}

.about .red-button {
  margin-top: 40px;
}

.about-left p:nth-of-type(1),
.about-right p {
  margin-bottom: 37px;
}

.about-left p:nth-of-type(2) {
  margin-bottom: 25px;
}

.about-right p {
  width: 178px;
}

.about .container {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
  padding-bottom: 86px;
}

.about-left,
.about-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.delivery-company li {
  font-size: 18px;
  line-height: 20px;
}

.footer-top {
  background-color: #32425c;
}

.footer-top,
.footer-top a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f8;
}

.low-row a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #f5f5f6;
  background-color: #293449;
}

.footer-social li {
  background-color: #212a3a;
}

.footer-social li:hover,
.footer-social li:active {
  background-color: #ee3643;
}

.high-row a:active {
  color: rgba(241, 245, 247, 0.5);
}

.low-row a:active {
  color: rgba(255, 209, 128, 0.5);
}

.developer-info-contact a {
  color: #ffd180;
}

.developer-info-contact a:active {
  color: #ee3643;
}

.popup-feedback {
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
}

main .red-button {
  display: block;
  width: 253px;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #ee3643;
  border-radius: 3px;
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.feedback-send .red-button {
  width: 500px;
}

.feedback-send {
  background-color: #f4f4f4;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  background-color: #518534;
}

.name-group {
  font-size: 30px;
  line-height: 30px;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
  margin-bottom: 20px;
}

.filter,
.name-sort,
.list-pagination {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000;
  text-align: left;
}

.name-filter,
.name-sort,
.list-pagination {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
}

.filter button[type='sumbmit'] {
  font-size: 13px;
  line-height: 18px;
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.popup-feedback {
  font-family: 'PT Sans', 'Arial', sans-serif;
  padding: 10px 30px;
  background-color: #ffffff;
}

.feedback-item input,
.feedback-item textarea {
  border: 2px solid #dee3e4;
}

fieldset {
  border: none;
}

/* Стили для сетки, сеточные,*/
.list-popular-produceres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.list-popular-produceres li {
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.list-popular-produceres a {
  display: block;
  position: relative;
  width: 216px;
  height: 145px;
  background-color: #ffffff;
}

.list-popular-produceres img,
.catalog-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.list-popular-produceres li:nth-child(4n) {
  margin-right: 0;
}

.services-description {
  display: flex;
}

.services-declaration {
  width: 400px;
}

.services-list {
  margin-right: 80px;
  margin-bottom: 102px;
}

.services-item-definition {
  flex-shrink: 0;
  width: 275px;
  padding-right: 25px;
}

.footer-top-high,
.footer-top-low,
.high-row,
.low-row,
.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding-top: 30px;
}

.footer-top-high {
  margin-bottom: 30px;
}

.footer-top-low {
  padding-bottom: 49px;
}

.low-row {
  width: 524px;
  padding-top: 0;
  align-items: flex-start;
}

.footer-bottom .container {
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.name-filter,
.name-sort {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  margin-bottom: 20px;
}

.container-filter-catalog {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 220px;
  flex-shrink: 0;
  margin-right: 20px;
}

.name-sort,
.list-name-sort,
.list-pagination {
  display: flex;
}

.name-sort {
  justify-content: space-between;
}

.filter form,
.filter fieldset {
  border: none;
}

.filter-button {
  border: 1px solid #cccccc;
  margin-top: 71px;
}

.list-pagination {
  margin-top: 52px;
  text-align: center;
  background-color: #ffffff;
}

.list-pagination li {
  width: 36px;
  align-items: flex-start;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid #cccccc;
  margin-right: 10px;
}

.services-item {
  width: 100%;
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.list-delivery-company {
  font-size: 18px;
  line-height: 31px;
}

.spacer {
  flex-grow: 10;
}

.popup-map {
  display: none;
  position: fixed;
  width: 940px;
  height: 446px;
  top: 120px;
  left: 50%;
  margin-left: -470px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.popup-close {
  position: absolute;
  width: 27px;
  height: 27px;
  font-size: 0;
  position: absolute;
  top: 19px;
  right: 9px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 3px;
  top: 0px;
  right: 0px;
  background-color: #ff3333;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}
