body {
  font-family: 'Cuprum', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.breadcrumbs,
.list-site-navigation,
.list-popular-goods,
.list-popular-produceres,
.list-services,
.footer-nav,
.list-footer-social,
.list-filter-produceres,
.list-filter-power,
.list-name-sort,
.list-catalog,
.list-pagination,
.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-top {
  width: 100%;
  background-color: #293449;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: #fff;
  margin: 0px;
}

.header-top a {
  color: #fff;
}

.search label {
  cursor: pointer;
}

.search input {
  display: none;
}

.header-user-name p {
  font-size: 21px;
  font-weight: normal;
  line-height: 21px;
  color: #000;
}

.header-user-name p:active {
  color: rgba(0, 0, 0, 0.3);
}

.account-links a {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.account-links a:hover {
  color: #ee3643;
}

.account-links a:active {
  color: rgba(50, 66, 92, 0.302);
}

.header-middle {
  background: #f4f7f9;
}

.header-short-description {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.header-phone-wrapper {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;
  border: 3px solid #fff;
}

.button-order {
  background-color: #63a63e;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.header-button {
  font-size: 21px;
  line-height: 21px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #fff;
  outline: none;
}

.header-button:hover {
  color: #ee3643;
}

.header-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}

.main-navigation li:hover {
  background-color: #293449;
}

.main-navigation li:active {
  background-color: #1d2739;
}

.header-popular-items {
  background-color: #f9f5f0;
}

.list-popular-goods li,
.list-catalog li {
  display: inline-block;
}

.catalog-item {
  width: 220px;
  border: 1px solid #eaeaea;
  font-family: 'PT Sans', 'Arial', sans-serif;
  /* временно */
  height: 318px;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.catalog-item-name a {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.catalog-item-price {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.price-old {
  text-decoration: line-through;
  color: #aaa;
}

.price-new {
  padding: 10px;
  color: #fff;
  background-color: #ee3643;
}

.services {
  background-color: #f5f8fa;
}

.services p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.header-services,
.header-about,
.header-popular-items {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.list-popular-produceres li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-services-item {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
}

.list-services li {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  width: 200px;
  padding: 10px;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #4d627b;
  background-color: #32425c;
}

.list-services li:first-child {
  color: #32425c;
  background-color: #fff;
}

.about {
  background-color: #fff;
}

.about p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.delivery-company li {
  font-size: 18px;
  line-height: 20px;
}

.footer-top {
  background-color: #32425c;
}

.footer-top,
.footer-top a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f8;
}

.low-row a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #f5f5f6;
  background-color: #293449;
}

.footer-social li {
  background-color: #212a3a;
}

.footer-social li:hover,
.footer-social li:active {
  background-color: #ee3643;
}

.high-row a:active {
  color: rgba(241, 245, 247, 0.5);
}

.low-row a:active {
  color: rgba(255, 209, 128, 0.5);
}

.developer-info-contact a {
  color: #ffd180;
}

.developer-info-contact a:active {
  color: #ee3643;
}

.popup-feedback {
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
}

.red-button {
  width: 253px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 11px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 2px;
  background-color: #ee3643;
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.feedback-send .red-button {
  width: 500px;
}

.feedback-send {
  background-color: #f4f4f4;
}

.button-order:hover {
  background-color: #5fbb2d;
}

.button-order:active {
  background-color: #518534;
}

.name-group {
  font-size: 30px;
  line-height: 30px;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter,
.name-sort,
.list-pagination {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000;
  text-align: left;
}

.name-filter,
.name-sort,
.list-pagination {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
}

.filter button[type='sumbmit'] {
  font-size: 13px;
  line-height: 18px;
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.popup-feedback {
  font-family: 'PT Sans', 'Arial', sans-serif;
  padding: 10px 30px;
  background-color: #ffffff;
}

.feedback-item input,
.feedback-item textarea {
  border: 2px solid #dee3e4;
}

fieldset {
  border: none;
}

/* Стили для сетки, сеточные */
html,
body {
  /* min-width: 1200px;
  min-height: 3151px; */
}

.positioner {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .positioner {
  display: flex;
  align-items: stretch;
}

.search {
  margin-right: auto;
}

.bookmark,
.cart,
.button-order,
.search {
  padding: 10px;
}

.logo {
  width: 220px;
  height: 42px;
}

.header-middle-wrapper {
  display: flex;
  padding-top: 46px;
  padding-bottom: 44px;
}

.header-phone-adress {
  margin-left: 20px;
}

.header-adress {
  margin: 0;
  padding: 0;
}

.header-short-description {
  width: 197px;
  margin: 0;
  padding-left: 53px;
  padding-right: 50px;
}

.header-phone-wrapper {
  display: flex;
  padding: 8px;
}

.header-phone-wrapper p {
  margin: 0px;
}

.header-buttons {
  margin-left: auto;
}

.list-site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 5px solid #293449;
  margin-bottom: 60px;
}

.list-site-navigation li {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  padding-top: 19px;
  padding-bottom: 18px;
}

.header-popular-items h2 {
  margin: 0;
}

.product-and-services {
  /* добавил свойства, чтобы обозначить блок с "Материалы-Инструмент" */
  width: 100%;
  min-height: 468px;
  background-color: #ffcc33;
  margin-bottom: 46px;
}

.container-goods-produceres {
  flex-direction: column;
  display: flex;
}

.header-popular-items {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 24px;
  padding-bottom: 26px;
  align-items: center;
  margin-bottom: 20px;
}

.list-popular-goods {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 21px;
}

.list-popular-goods li {
  margin-left: 20px;
}

.list-popular-goods li:first-child {
  margin: 0px;
}

.list-popular-produceres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-bottom: 85px;
  /* временно */
  min-height: 310px;
  background-color: #ffcc33;
}

.list-popular-produceres li {
  width: 220px;
  align-items: flex-start;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  /* временно */
  height: 145px;
  margin: 0;
  margin-right: 20px;
}

.list-popular-produceres li:nth-child(4n) {
  margin-right: 0;
}

.services {
  padding-top: 62px;
  padding-bottom: 54px;
}

.services-description {
  display: flex;
}

.services-declaration {
  width: 400px;
}

.services-list {
  margin-right: 80px;
}

.services-item-definition {
  flex-shrink: 0;
  width: 275px;
  padding-right: 25px;
}
